    
    <div class="navbar" id="mynavbar">
        <a href="/index.html" id="index-link">Home</a>
        <a href="/leaderboard.html" id="leaderboard-link">Leaderboard</a>
        <a href="/login.html" id="login-link">Login</a>

        <a href="/profile.html" id="profile-link" hidden>Profiel</a>
        <a href="http://localhost:4200/admin" id="admin-link" hidden>Admin Paneel</a>
        <a href="#" id="logout-link" hidden>Uitloggen</a>

        <a id="hamburger" class="icon" >&#9776;</a>
    </div>